<html>
  <head>
      <title>Omni Receipts</title>
      <%= render 'shared/imports' %>
  </head>

  <body>
    <h1>Welcome to Omni Receipts</h1>

    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
  </body>
</html>
