<h1>Receipts</h1>

<ul>
  <% @receipts.each do |receipt| %>
    <li><%= link_to receipt.name, receipt_path(receipt) %></li>
  <%end%>
</ul>

<%= render partial: 'upload', locals: { title: 'New Receipt', receipt: Receipt.new } %>
